.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  max-width: 1920px;
  color: #fff;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 37px;
}

h1 {
  color: #4b4b4b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 43px;
  font-weight: 400;
  line-height: 60px;
}

h2 {
  color: #4b4b4b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
  line-height: 49px;
}

h3 {
  color: #4b4b4b;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
}

a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

.container {
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8.33%;
  padding-right: 8.33%;
}

.container-right {
  width: 100%;
  max-width: 100%;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8.33%;
}

.container-small {
  width: 100%;
  max-width: 820px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  color: #0198e6;
  text-align: center;
  letter-spacing: .14286em;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s;
}

.button:hover {
  color: #fff;
  -webkit-text-stroke-color: #006993;
  background-color: #006993;
  border-color: #006993;
}

.button.blue {
  background-color: #4154a4;
}

.button.blue:hover {
  background-color: #1d2b68;
}

.button.green {
  background-color: #1bb157;
}

.button.green:hover {
  background-color: #068b3b;
}

.button.orange {
  background-color: #f6851f;
}

.button.orange:hover {
  background-color: #cc6305;
}

.button.trans {
  color: #fff;
  background-color: #0198e6;
  border-color: #0198e6;
}

.button.trans:hover {
  background-color: #006993;
  border-color: #006993;
}

.body {
  max-width: 1920px;
}

.brix---hamburger-menu-bar-bottom {
  width: 52px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.brix---hamburger-menu-bar-bottom.trans {
  background-color: #4b4b4b;
}

.brix---hamburger-menu-bar-top {
  width: 52px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.brix---hamburger-menu-bar-top.trans {
  background-color: #4b4b4b;
}

.brix---hamburger-menu-wrapper {
  color: #fff;
  margin-left: 30px;
  padding: 0;
  transition: transform .3s;
}

.brix---hamburger-menu-wrapper:hover {
  transform: scale(.96);
}

.brix---hamburger-menu-wrapper.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.brix---header-big-nav-link {
  color: #000;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  line-height: 42px;
  transition: color .3s;
}

.brix---header-big-nav-link:hover, .brix---header-big-nav-link.w--current {
  color: #4b4b4b;
}

.brix---header-nav-list-item-hamburger-desktop {
  margin-bottom: 24px;
  padding-left: 0;
}

.brix---dropdown-link-big {
  width: 100%;
  color: #000;
  align-items: center;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  transition: color .3s;
  display: flex;
}

.brix---dropdown-link-big:hover, .brix---dropdown-link-big.w--current {
  color: #4b4b4b;
}

.brix---dropdown-links-grid-big {
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brix---dropdown-card-desktop {
  background-color: rgba(0, 0, 0, 0);
  top: 32px;
  overflow: visible;
}

.brix---dropdown-column-wrapper-hamburger {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 32px;
  position: static;
}

.brix---dropdown-chevron-big {
  width: 28px;
  margin-left: 10px;
}

.brix---dropdown-toggle-big-link {
  align-items: center;
  padding: 0;
  font-size: 40px;
  line-height: 42px;
  transition: color .3s;
  display: flex;
}

.brix---dropdown-toggle-big-link:hover {
  color: #4a3aff;
}

.brix---header-nav-menu-hamburger-desktop {
  z-index: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.brix---container-default-center {
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---header-hamburger-desktop-wrapper {
  width: 40%;
  background-color: #fff;
  border-top: 1px solid #eff0f6;
  border-bottom: 1px solid #eff0f6;
  padding: 44px 24px;
  top: 82px;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.brix---header-right-col {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.brix---header-logo {
  width: 250px;
  max-width: 250px;
}

.brix---header-logo-link {
  transform-style: preserve-3d;
  padding-left: 0;
  transition: transform .3s, color .3s;
}

.brix---header-logo-link:hover {
  transform: scale3d(.96, .96, 1.01);
}

.brix---header-logo-link.w--current:hover {
  transform: none;
}

.brix---header-content-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brix---container-default {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #fff;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  display: block;
}

.header.nb {
  border-bottom-style: none;
}

.hero {
  height: 900px;
  background-image: url('../images/sean-pollock-PhYq704ffdA-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
  border-top: 0 #fff;
  margin-top: -90px;
  overflow: hidden;
}

.div-block {
  justify-content: space-between;
  align-items: stretch;
  padding-top: 91px;
  display: flex;
}

.div-block-2 {
  width: 60%;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5rem;
  display: flex;
}

.div-block-3 {
  width: 40%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-left: 1px solid #fff;
  flex-direction: column;
  flex: 1;
  order: 0;
  justify-content: flex-start;
  align-self: auto;
  display: flex;
}

.div-block-3.m {
  display: none;
}

.div-block-4 {
  height: 405px;
  background-color: rgba(0, 105, 147, .7);
  border-bottom: 1px solid #fff;
  padding: 60px 20px;
}

.div-block-5 {
  width: 10%;
  height: 2px;
  background-color: #fff;
}

.div-block-6 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  align-items: flex-end;
  display: flex;
}

.heading {
  color: #fff;
  margin-bottom: 60px;
}

.div-block-7 {
  height: 406px;
  background-color: rgba(27, 145, 18, .7);
  padding: 60px 20px;
}

.heading-2 {
  color: #fff;
}

.heading-3 {
  color: #fff;
  font-size: 70px;
  line-height: 77px;
}

.investments {
  margin-top: 100px;
  margin-bottom: 100px;
}

.div-block-8 {
  width: 5%;
  height: 4px;
  background-color: #1b9112;
}

.div-block-8.s2 {
  background-color: #fff;
}

.heading-4 {
  color: #4b4b4b;
  font-size: 24px;
  line-height: 34px;
}

.heading-5 {
  color: #4b4b4b;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 34px;
}

.heading-5._2 {
  margin-top: 60px;
}

.heading-6 {
  margin-bottom: 100px;
}

.heading-6._2 {
  margin-bottom: 140px;
}

.heading-7 {
  color: #1b9112;
  font-size: 52px;
  line-height: 73px;
}

.text-block, .text-block-2 {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 31px;
}

.div-block-9 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-block-3 {
  color: #4b4b4b;
  font-size: 13px;
  font-style: italic;
  line-height: 22px;
}

.text-block-3.pb {
  margin-bottom: 100px;
}

.text-span {
  font-style: normal;
}

.div-block-10 {
  height: 1px;
  background-color: #7e7e7e;
  margin-top: 100px;
  margin-bottom: 60px;
}

.bg {
  height: 45rem;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/Homepage-Poster-Desktop-01-1440x720.jpg.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.bg.center {
  height: 30rem;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/Homepage-CTA-Desktop-01-1440x720.jpg.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bg.center._5 {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/InvestingWithUs-CTA-Mobile-02.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.bg.center._6 {
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../images/FCC-CTA-Dekstop-01.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.bg.about {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/WhoWeAre-Poster-Desktop-01-1440x720.jpg.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.bg._3 {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/WhoWeAre-CTA-Mobile-1440x1538.jpg.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bg._4 {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/fisgard-mortgage-brokers-cta-desktop-2.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.bg._5 {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/fisgard-mortgage-brokers-cta-desktop.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-11 {
  height: 45rem;
  align-items: flex-end;
  padding-bottom: 60px;
  display: flex;
}

.heading-8 {
  font-size: 35px;
}

.heading-9 {
  color: #fff;
  font-size: 35px;
  line-height: 49px;
}

.heading-10, .heading-11, .heading-12 {
  color: #fff;
}

.div-block-12 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.text-block-4 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.brix---icon-square-36px {
  width: 36px;
  height: 36px;
  min-height: 36px;
  min-width: 36px;
  background-color: #f2f1ff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform .3s, background-color .3s, color .3s;
  display: flex;
  overflow: hidden;
}

.brix---icon-square-36px:hover {
  transform: scale(.92);
}

.brix---social-media-grid-right---t-center {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, 36px);
  justify-content: end;
  align-self: center;
  justify-items: end;
}

.brix---paragraph-link {
  color: #4a3aff;
  text-decoration: underline;
  transition: color .3s;
}

.brix---paragraph-link:hover {
  color: #281ca5;
}

.brix---mg-bottom-0 {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

.brix---grid-footer-bottom-v2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr .4fr;
  align-items: center;
}

.brix---footer-bottom-v2 {
  color: #6e7191;
  text-align: left;
  border-top: 1px solid #eff0f6;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 18px;
}

.brix---error-message {
  color: #ff5a65;
  text-align: center;
  background-color: #ffeff0;
  border-radius: 16px;
  margin-top: 20px;
  padding: 20px 24px;
  font-size: 18px;
  line-height: 30px;
}

.brix---icon-success-message {
  margin-bottom: 10px;
}

.brix---success-message {
  color: #fff;
  background-color: #4a3aff;
  border-radius: 24px;
  padding: 28px 28px 32px;
  font-size: 18px;
  line-height: 30px;
}

.brix---btn-primary-small {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #4a3aff;
  border-radius: 48px;
  justify-content: center;
  padding: 18px 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.brix---btn-primary-small:hover {
  color: #fff;
  background-color: #281ca5;
  transform: translate3d(0, -3px, .01px);
}

.brix---input-small {
  min-height: 60px;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 100px;
  margin-bottom: 0;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 18px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .08);
}

.brix---input-small:hover {
  border-color: #4a3aff;
  box-shadow: 0 2px 12px rgba(20, 20, 43, .1);
}

.brix---input-small:focus {
  color: #211f54;
  border-color: #4a3aff;
}

.brix---input-small::-ms-input-placeholder {
  color: #6e7191;
  font-size: 16px;
}

.brix---input-small::placeholder {
  color: #6e7191;
  font-size: 16px;
}

.brix---grid-footer-subscribe-1-col {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.brix---paragraph-default {
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.brix---color-neutral-600 {
  color: #6e7191;
}

.brix---mg-bottom-32px {
  margin-bottom: 32px;
}

.brix---footer-col-title {
  color: #211f54;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.brix---footer-link {
  color: #6e7191;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  transition: color .3s;
}

.brix---footer-link:hover {
  color: #4a3aff;
}

.brix---footer-list-item {
  margin-bottom: 18px;
  padding-left: 0;
}

.brix---footer-list-wrapper {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.brix---grid-footer-v8 {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.brix---footer-middle {
  padding-top: 120px;
  padding-bottom: 120px;
}

.brix---btn-secondary {
  color: #211f54;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 48px;
  padding: 26px 38px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  line-height: 20px;
  transition: border-color .3s, transform .3s, background-color .3s, color .3s;
  box-shadow: 0 4px 10px rgba(20, 20, 43, .04);
}

.brix---btn-secondary:hover {
  color: #fff;
  background-color: #4a3aff;
  border-color: #4a3aff;
  transform: translate3d(0, -3px, .01px);
}

.brix---btn-primary {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #4a3aff;
  border-radius: 48px;
  justify-content: center;
  padding: 26px 38px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.brix---btn-primary:hover {
  color: #fff;
  background-color: #281ca5;
  transform: translate3d(0, -3px, .01px);
}

.brix---button-row-left {
  margin-right: 24px;
}

.brix---buttons-row-right---t-left {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.brix---footer-logo {
  transform-style: preserve-3d;
  transition: transform .3s;
}

.brix---footer-logo:hover {
  transform: scale3d(.97, .97, 1.01);
}

.brix---mg-bottom-16px {
  margin-bottom: 16px;
}

.brix---grid-footer-logo-and-form {
  grid-column-gap: 210px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.8fr;
  align-items: center;
}

.brix---footer-small---border-bottom {
  border-bottom: 1px solid #eff0f6;
  padding-top: 72px;
  padding-bottom: 72px;
}

.brix---container-default-2 {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---footer-wrapper {
  background-color: #fff;
  border-top: 1px #eff0f6;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  background-color: #006993;
  padding-left: 10px;
  padding-right: 10px;
}

.italic-text, .italic-text-2 {
  color: #0198e6;
}

.text-block-5 {
  color: #000;
  font-family: Poppins, sans-serif;
}

.text-block-5:hover {
  color: #4b4b4b;
}

.heading-14 {
  color: #747474;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 60px;
  line-height: 66px;
}

.heading-14.s2 {
  color: #fff;
}

.who-we-are {
  margin-top: 60px;
  margin-bottom: 100px;
}

.about-contents {
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-block-6 {
  color: #4b4b4b;
}

.div-block-13 {
  margin-top: 60px;
  padding-right: 30%;
}

.heading-15 {
  margin-bottom: 20px;
}

.div-block-14 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 20%;
}

.grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2 {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  height: 600px;
  background-image: url('../images/stefan-stefancik-pzA7QWNCIYg-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.html-embed {
  text-align: right;
}

.div-block-15 {
  width: 10%;
  height: 5px;
  background-color: #fff;
}

.text-block-7 {
  color: #fff;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-2 {
  margin-top: 60px;
  margin-bottom: 100px;
}

.heading-16 {
  margin-bottom: 40px;
}

.text-block-8 {
  color: #4b4b4b;
  margin-bottom: 40px;
}

.div-block-16 {
  text-align: center;
}

.image {
  margin-bottom: 20px;
}

.brix---accordion-btn-horizontal-line-v2 {
  width: 28px;
  height: 2px;
  background-color: #211f54;
  border-radius: 20px;
  position: absolute;
}

.brix---accordion-btn-vertical-line-v2 {
  width: 2px;
  height: 28px;
  background-color: #211f54;
  border-radius: 20px;
  position: absolute;
}

.brix---accordion-icon-wrapper {
  width: 38px;
  height: 38px;
  min-height: 38px;
  min-width: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.brix---accordion-right-side {
  margin-left: 24px;
  margin-right: 0;
}

.brix---paragraph-default-2 {
  color: #4b4b4b;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.brix---color-neutral-601 {
  color: #6e7191;
}

.brix---accordion-spacer {
  min-height: 16px;
}

.brix---acordion-body {
  width: 100%;
  overflow: hidden;
}

.brix---accordion-title {
  margin-top: 0;
  margin-bottom: 0;
}

.brix---accordion-title._35 {
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
}

.brix---color-neutral-800 {
  color: #211f54;
}

.brix---accordion-header {
  align-items: center;
  display: flex;
}

.brix---accordion-content-wrapper-v2 {
  max-width: 730px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.brix---accordion-item-wrapper-v2 {
  width: 100%;
  box-shadow: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-width: 1px 0;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  padding: 40px 0;
  transition: transform .3s;
  display: flex;
}

.brix---accordion-item-wrapper-v2:hover {
  transform: translate(8px);
}

.brix---grid-1-column-gap-row-0 {
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brix---inner-container-1012px-center {
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
}

.brix---heading-h2-size {
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
}

.brix---mg-bottom-16px-2 {
  margin-bottom: 16px;
}

.brix---text-center {
  text-align: center;
}

.brix---inner-container-574px---center {
  max-width: 574px;
  margin-left: auto;
  margin-right: auto;
}

.brix---mg-bottom-48px {
  margin-bottom: 48px;
}

.brix---container-default-3 {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---section {
  color: #fff;
  padding-top: 176px;
  padding-bottom: 176px;
}

.div-block-17 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.section-3 {
  background-color: #006993;
  margin-top: -91px;
  padding-top: 140px;
  padding-bottom: 100px;
}

.heading-17 {
  color: #fff;
}

.heading-18 {
  font-weight: 400;
}

.div-block-18 {
  margin-top: 100px;
  padding-right: 30%;
}

.div-block-19 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.html-embed-2 {
  color: #006993;
}

.grid-3 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.paragraph {
  color: #4b4b4b;
  font-size: 16px;
  line-height: 26px;
}

.heading-19 {
  margin-bottom: 60px;
}

.image-2 {
  border-radius: 50%;
}

.div-block-20 {
  text-align: center;
}

.heading-20 {
  color: #747474;
  font-size: 60px;
  line-height: 66px;
}

.section-4 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-block-9 {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 31px;
}

.link, .link-2 {
  color: #006993;
}

.text-span-2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.div-block-21 {
  margin-bottom: 140px;
}

.brix---half-bg-right---width-36 {
  z-index: -1;
  width: 36%;
  height: 100%;
  background-color: #4a3aff;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.brix---error-message-2 {
  color: #ff5a65;
  text-align: center;
  background-color: #ffeff0;
  border-radius: 16px;
  margin-top: 20px;
  padding: 20px 24px;
  font-size: 18px;
  line-height: 30px;
}

.brix---color-neutral-100 {
  color: #fff;
}

.brix---icon-success-message-big {
  width: 60px;
  margin-bottom: 10px;
}

.brix---success-message-2 {
  color: #fff;
  background-color: #4a3aff;
  border-radius: 24px;
  padding: 28px 28px 32px;
  font-size: 18px;
  line-height: 30px;
}

.brix---btn-primary-2 {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: #4a3aff;
  border-radius: 48px;
  justify-content: center;
  padding: 26px 38px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.brix---btn-primary-2:hover {
  color: #fff;
  background-color: #281ca5;
  transform: translate3d(0, -3px, .01px);
}

.brix---text-area {
  min-height: 144px;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 0;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 28px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .08);
}

.brix---text-area:hover {
  border-color: #4a3aff;
  box-shadow: 0 2px 12px rgba(20, 20, 43, .1);
}

.brix---text-area:focus {
  color: #211f54;
  border-color: #4a3aff;
}

.brix---text-area::-ms-input-placeholder {
  color: #6e7191;
  font-size: 18px;
}

.brix---text-area::placeholder {
  color: #6e7191;
  font-size: 18px;
}

.brix---input-label {
  color: #000;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.brix---input {
  min-height: 50px;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 0;
  margin-bottom: 0;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 20px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .08);
}

.brix---input:hover {
  border-color: #4a3aff;
  box-shadow: 0 2px 12px rgba(20, 20, 43, .1);
}

.brix---input:focus {
  color: #211f54;
  border-color: #4a3aff;
}

.brix---input::-ms-input-placeholder {
  color: #6e7191;
  font-size: 18px;
}

.brix---input::placeholder {
  color: #6e7191;
  font-size: 18px;
}

.brix---form-grid-2-columns {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.brix---card-form {
  min-height: 576px;
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 24px;
  margin-bottom: 0;
  padding: 56px 40px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
}

.brix---text-200-bold {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.brix---color-accent-1 {
  color: #4a3aff;
}

.brix---text-200 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.brix---mg-bottom-8px {
  margin-bottom: 8px;
}

.brix---big-icon-left {
  border-radius: 16px;
  margin-right: 16px;
}

.brix---card-link-icon-wrapper {
  color: #6e7191;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 1px solid #f7f7fc;
  border-radius: 14px;
  align-items: center;
  padding: 14px 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  text-decoration: none;
  transition: transform .3s, border-color .3s, color .3s;
  display: flex;
  box-shadow: 0 2px 6px rgba(20, 20, 43, .06);
}

.brix---card-link-icon-wrapper:hover {
  border-color: #4a3aff;
  transform: scale3d(.96, .96, 1.01);
}

.brix---grid-1-column {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.brix---inner-container-400px {
  max-width: 400px;
}

.brix---text-300-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

.brix---color-neutral-801 {
  color: #211f54;
}

.brix---mg-bottom-40px {
  margin-bottom: 40px;
}

.brix---paragraph-default-3 {
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.brix---color-neutral-802 {
  color: #6e7191;
}

.brix---heading-h1-size {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
}

.brix---subtitle {
  color: #4a3aff;
  letter-spacing: .15em;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.brix---grid-contact-v1 {
  grid-column-gap: 60px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.2fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.brix---container-default-4 {
  max-width: 1218px;
  padding-left: 24px;
  padding-right: 24px;
}

.brix---section-position-relative {
  padding-top: 176px;
  padding-bottom: 176px;
  position: relative;
  overflow: hidden;
}

.div-block-22 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  display: flex;
}

.grid-4 {
  margin-top: 40px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container-right {
    padding-left: 5%;
  }

  .container-small {
    padding-left: 30px;
    padding-right: 30px;
  }

  .brix---hamburger-menu-bar-bottom {
    width: 44px;
    height: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .brix---hamburger-menu-bar-top {
    width: 44px;
    height: 3px;
  }

  .brix---hamburger-menu-wrapper {
    order: -1;
    transition: transform .3s;
  }

  .brix---hamburger-menu-wrapper:hover {
    transform: scale(.96);
  }

  .brix---hamburger-menu-wrapper.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .brix---header-nav-list-item-hamburger-desktop {
    padding-left: 0;
  }

  .brix---dropdown-card-desktop {
    min-width: auto;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    border-radius: 0;
    padding-top: 26px;
  }

  .brix---dropdown-card-desktop.w--open {
    position: static;
  }

  .brix---dropdown-column-wrapper-hamburger {
    padding-top: 0;
    position: static;
  }

  .brix---header-nav-menu-hamburger-desktop {
    flex-direction: column;
    align-items: flex-start;
  }

  .brix---header-hamburger-desktop-wrapper {
    width: 50%;
    background-color: #fff;
    border-top: 1px solid #eff0f6;
    border-bottom: 1px solid #eff0f6;
    padding-left: 0;
    padding-right: 0;
  }

  .brix---header-right-col {
    flex-direction: row-reverse;
  }

  .brix---header-logo {
    max-width: 232px;
  }

  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .hero {
    overflow: hidden;
  }

  .div-block {
    height: 900px;
  }

  .div-block-3 {
    display: none;
  }

  .div-block-3.m {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
  }

  .div-block-4, .div-block-7 {
    width: 50%;
    height: auto;
  }

  .div-block-9 {
    grid-template-columns: 1fr 1fr;
  }

  .brix---social-media-grid-right---t-center {
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;
  }

  .brix---grid-footer-bottom-v2 {
    grid-row-gap: 14px;
    grid-template-columns: 1fr;
  }

  .brix---footer-bottom-v2 {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .brix---mg-bottom-32px, .brix---footer-col-title {
    margin-bottom: 24px;
  }

  .brix---grid-footer-v8 {
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .brix---footer-middle {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .brix---btn-primary {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .brix---buttons-row-right---t-left {
    justify-content: flex-start;
  }

  .brix---grid-footer-logo-and-form {
    grid-row-gap: 34px;
    grid-template-columns: 1fr;
  }

  .brix---footer-small---border-bottom {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .brix---accordion-spacer {
    min-height: 12px;
  }

  .brix---accordion-item-wrapper-v2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .brix---accordion-item-wrapper-v2:hover {
    transform: translate(6px);
  }

  .brix---heading-h2-size {
    font-size: 30px;
    line-height: 46px;
  }

  .brix---mg-bottom-48px {
    margin-bottom: 40px;
  }

  .brix---section {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .div-block-17 {
    grid-template-columns: 1fr 1fr;
  }

  .brix---half-bg-right---width-36 {
    width: 100%;
    height: 40%;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .brix---btn-primary-2 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .brix---card-form {
    padding: 54px 32px;
  }

  .brix---heading-h1-size {
    font-size: 48px;
    line-height: 60px;
  }

  .brix---grid-contact-v1 {
    grid-row-gap: 80px;
    grid-template-columns: 1fr;
  }

  .brix---section-position-relative {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .container, .container-right, .container-small {
    padding-left: 10px;
    padding-right: 10px;
  }

  .brix---header-big-nav-link {
    font-size: 32px;
    line-height: 34px;
  }

  .brix---dropdown-chevron-big {
    width: 25px;
  }

  .brix---dropdown-toggle-big-link {
    font-size: 32px;
    line-height: 34px;
  }

  .brix---header-hamburger-desktop-wrapper {
    width: 100%;
    background-color: #fff;
  }

  .brix---header-logo {
    max-width: 90%;
  }

  .hero, .div-block {
    height: 700px;
  }

  .div-block-3.m {
    flex-direction: column;
  }

  .div-block-4, .div-block-7 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .heading-3 {
    font-size: 60px;
    line-height: 66px;
  }

  .heading-6._2 {
    margin-bottom: 100px;
  }

  .div-block-9 {
    grid-template-columns: 1fr;
  }

  .bg, .div-block-11 {
    height: 30rem;
  }

  .brix---social-media-grid-right---t-center {
    justify-content: center;
    justify-items: center;
  }

  .brix---grid-footer-bottom-v2 {
    grid-row-gap: 14px;
  }

  .brix---btn-primary-small {
    padding: 20px 32px;
  }

  .brix---input-small {
    min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .brix---footer-col-title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 20px;
  }

  .brix---footer-list-item {
    margin-bottom: 10px;
  }

  .brix---grid-footer-v8 {
    grid-template-columns: 1.4fr 1fr;
  }

  .brix---footer-middle {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .brix---btn-secondary {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .brix---btn-primary {
    padding: 20px 32px;
  }

  .brix---button-row-left {
    margin-right: 16px;
  }

  .brix---footer-logo-wrapper {
    width: 239px;
  }

  .brix---mg-bottom-16px {
    margin-bottom: 8px;
  }

  .brix---footer-small---border-bottom {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .heading-13 {
    font-size: 36px;
    line-height: 40px;
  }

  .div-block-13, .div-block-14 {
    padding-right: 0%;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .card {
    height: 500px;
  }

  .brix---accordion-right-side {
    margin-left: 16px;
    margin-right: 16px;
  }

  .brix---accordion-title {
    font-size: 20px;
    line-height: 30px;
  }

  .brix---accordion-title._35 {
    font-size: 26px;
    line-height: 30px;
  }

  .brix---accordion-item-wrapper-v2 {
    padding: 48px 0;
  }

  .brix---heading-h2-size {
    font-size: 28px;
    line-height: 40px;
  }

  .brix---mg-bottom-16px-2 {
    margin-bottom: 8px;
  }

  .brix---mg-bottom-48px {
    margin-bottom: 32px;
  }

  .brix---section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-18 {
    padding-right: 10%;
  }

  .brix---btn-primary-2 {
    padding: 20px 32px;
  }

  .brix---text-area {
    border-radius: 18px;
  }

  .brix---input {
    min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .brix---form-grid-2-columns {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
  }

  .brix---card-form {
    min-height: 560px;
    padding: 36px 30px 48px;
  }

  .brix---text-200-bold, .brix---text-200 {
    font-size: 16px;
    line-height: 18px;
  }

  .brix---big-icon-left {
    max-width: 56px;
    border-radius: 12px;
  }

  .brix---inner-container-400px {
    max-width: 100%;
  }

  .brix---text-300-bold {
    font-size: 18px;
    line-height: 22px;
  }

  .brix---mg-bottom-40px {
    margin-bottom: 24px;
  }

  .brix---heading-h1-size {
    margin-bottom: 12px;
    font-size: 38px;
    line-height: 46px;
  }

  .brix---subtitle {
    font-size: 17px;
    line-height: 19px;
  }

  .brix---grid-contact-v1 {
    grid-template-columns: 1fr;
  }

  .brix---section-position-relative {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .div-block-22 {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 479px) {
  .button {
    display: none;
  }

  .brix---header-big-nav-link {
    font-size: 26px;
    line-height: 28px;
  }

  .brix---header-nav-list-item-hamburger-desktop {
    width: 100%;
    text-align: left;
    margin-bottom: 17px;
  }

  .brix---dropdown-link-big {
    font-size: 22px;
    line-height: 26px;
  }

  .brix---dropdown-chevron-big {
    width: 21px;
    margin-left: 8px;
  }

  .brix---dropdown-toggle-big-link {
    font-size: 26px;
    line-height: 28px;
  }

  .brix---container-default-center {
    padding-left: 20px;
    padding-right: 20px;
  }

  .brix---header-logo {
    max-width: 84%;
  }

  .brix---container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-9 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }

  .bg.center {
    height: 25rem;
  }

  .bg.about {
    height: 20rem;
  }

  .brix---icon-square-36px {
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 6px;
    font-size: 14px;
  }

  .brix---social-media-grid-right---t-center {
    grid-template-columns: repeat(auto-fit, 30px);
  }

  .brix---btn-primary-small {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .brix---input-small {
    min-height: 50px;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 18px;
  }

  .brix---input-small::-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .brix---input-small::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .brix---grid-footer-subscribe-1-col {
    grid-template-columns: 1fr;
  }

  .brix---paragraph-default {
    font-size: 17px;
    line-height: 28px;
  }

  .brix---footer-col-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 18px;
  }

  .brix---footer-link {
    font-size: 16px;
    line-height: 19px;
  }

  .brix---footer-list-item {
    margin-bottom: 8px;
  }

  .brix---grid-footer-v8 {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .brix---btn-secondary, .brix---btn-primary {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
    line-height: 19px;
  }

  .brix---button-row-left {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .brix---buttons-row-right---t-left {
    flex-direction: column;
    align-items: stretch;
  }

  .brix---footer-logo {
    width: 100%;
    max-width: 240px;
  }

  .brix---mg-bottom-16px {
    margin-bottom: 15px;
  }

  .brix---footer-small---border-bottom {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .brix---container-default-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-14.s2 {
    font-size: 44px;
    line-height: 60px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .brix---accordion-right-side {
    margin-right: 0;
  }

  .brix---paragraph-default-2 {
    font-size: 17px;
    line-height: 28px;
  }

  .brix---accordion-title {
    font-size: 18px;
    line-height: 26px;
  }

  .brix---accordion-title._35 {
    font-size: 24px;
    line-height: 28px;
  }

  .brix---heading-h2-size {
    font-size: 24px;
    line-height: 34px;
  }

  .brix---mg-bottom-16px-2 {
    margin-bottom: 15px;
  }

  .brix---mg-bottom-48px {
    margin-bottom: 32px;
  }

  .brix---container-default-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-17 {
    font-size: 28px;
    line-height: 36px;
  }

  .div-block-19 {
    grid-template-columns: 1fr;
  }

  .brix---btn-primary-2 {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 17px;
    line-height: 19px;
  }

  .brix---text-area {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    line-height: 26px;
  }

  .brix---text-area::-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .brix---text-area::placeholder {
    font-size: 16px;
    line-height: 24px;
  }

  .brix---input {
    min-height: 54px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    line-height: 18px;
  }

  .brix---input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .brix---input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .brix---form-grid-2-columns {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .brix---card-form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .brix---text-200-bold, .brix---text-200 {
    font-size: 15px;
    line-height: 16px;
  }

  .brix---mg-bottom-8px {
    margin-bottom: 6px;
  }

  .brix---big-icon-left {
    max-width: 56px;
    border-radius: 14px;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .brix---card-link-icon-wrapper {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 26px 24px;
  }

  .brix---inner-container-400px {
    max-width: 100%;
  }

  .brix---text-300-bold {
    font-size: 17px;
    line-height: 21px;
  }

  .brix---paragraph-default-3 {
    font-size: 17px;
    line-height: 28px;
  }

  .brix---heading-h1-size {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
  }

  .brix---subtitle {
    font-size: 14px;
    line-height: 18px;
  }

  .brix---grid-contact-v1 {
    grid-row-gap: 50px;
  }

  .brix---container-default-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .brix---section-position-relative {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

#w-node-_8a26a493-bca8-aaeb-2c7f-15f15d1b2ebd-5d1b2eba, #w-node-_6976e6b8-d96f-ed28-f550-6f480926df09-d60851cd, #w-node-_75f75a27-0692-0c59-01fd-bc3ac236cd07-d60851cd, #w-node-_5f10da5d-1fc3-b676-ebf0-8d98d26c3bdf-d60851cd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-bf32a3e7-e618-ccbb-6980-b3ab33850872-f70e3bbc, #w-node-bf32a3e7-e618-ccbb-6980-b3ab33850876-f70e3bbc {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-bf32a3e7-e618-ccbb-6980-b3ab3385087a-f70e3bbc {
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-bf32a3e7-e618-ccbb-6980-b3ab33850876-f70e3bbc {
    grid-column: span 2 / span 2;
  }
}


